<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission android:name="com.queallytech.nfc.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" tools:node="remove" />
    <uses-permission android:name="com.queallytech.nfc.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" tools:node="remove" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Link"
        tools:targetApi="29">

        <activity
            android:name="com.queallytech.nfc.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="github.com"
                    android:pathPrefix="/QueallyTech"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="vnd.android.nfc"
                    android:host="ext"
                    android:pathPrefix="/com.queallytech:nfc"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc" />
        </activity>
        <activity android:name="com.queallytech.nfc.activity.QrCodeActivity" />
        <activity android:name="com.queallytech.nfc.activity.NoteActivity" />
        <activity
            android:name="com.queallytech.nfc.activity.SendEpdActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.queallytech.nfc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>
</manifest>