<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Link"
        tools:targetApi="29" >

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.UCrop"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.winfo.photoselector.ImageSelectorActivity"
            android:theme="@style/Theme.PhotosSelector"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name="com.winfo.photoselector.PreviewActivity"
            android:theme="@style/Theme.PhotosSelector"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name="com.winfo.photoselector.RvPreviewActivity"
            android:theme="@style/Theme.PhotosSelector"
            android:configChanges="screenSize|orientation|keyboardHidden" />
    </application>
</manifest>